# Supabase Project Credentials
NEXT_PUBLIC_SUPABASE_URL=https://zwsrbogwysziavdvgihd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_kIMMGjU_t9bmIHrroddb0Q_49n-h3oM
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_kIMMGjU_t9bmIHrroddb0Q_49n-h3oM
